DB_CLASSNAME={{ db_classname }}
DB_SUBPROTOCOL={{ db_subprotocol }}
DB_SUBNAME={{ db_subname }}
DB_NAME={{ db_name }}
DB_USERNAME={{ db_username }}
DB_PASSWORD={{ db_password }}
DB_HOSTNAME={{ db_hostname }}
DB_PORT={{ db_port }}
